//=================================================================================================================================

.footer {
   &__content {
		height: 45px;
		display: flex;
		align-items: center;
		background-color: rgb(238, 220, 220);
   }

   &__copy {
		color: rgb(82, 80, 80);
   }
}

//=================================================================================================================================
