input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	border: 1px solid #dadada;
	padding: 0px 15px;
	height: 30px;
	&._focus {
	}
	&._error {
	}
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.checkbox {
	position: relative;
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		&:checked + .checkbox__text:after {
			transform: scale(1);
		}
		&:checked + .checkbox__text:before {
			border: 2px solid #009aaf;
		}
		// &:checked + .checkbox__text:before {
		// 	background: #fff url("../img/icons/check.svg") center no-repeat;
		// }
	}
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #f68038;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;
		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 12px 0px 0px;
			flex: 0 0 15px;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			border: 2px solid #dadada;
			background-color: #fff;
		}
		&:after {
			content: "";
			position: absolute;
			width: 9px;
			height: 9px;
			left: 3px;
			top: 3px;
			background-color: #53b5de;
			transform: scale(0);
			transition: all 0.3s ease 0s;
		}
	}
}

.quantity {
	width: 88px;
	height: 40px;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);

	&__button {
		flex: 0 0 30px;
		position: relative;
		cursor: pointer;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 9px;
			height: 1px;
			transition: all 0.3s ease 0s;
			margin: 0px 0px 0px -4.5px;
			background-color: #a6a6a6;
		}
		@media (min-width: $md2+px) {
			&:hover {
				&::before,
				&::after {
					background-color: rgba(0, 0, 0, 0.5);
				}
			}
		}
		&_plus {
			&::before {
				transform: rotate(-90deg);
			}
		}
	}

	&__input {
		flex: 1 1 auto;
		input {
			height: 100%;
			color: #a6a6a6;
			font-size: 12px;
			width: 100%;
			text-align: center;
		}
	}
}