.header {
	margin: 0px 0px 20px 0px;
	&__top {
		
	}

	&__bottom {
	}
}
.top-header {
	background-color: $backcol;
	&__container {
		height: 50px;
		display: flex;
		align-items: center;

		justify-content: space-between;
	}

	&__logo {
		font-size: 21px;
		position: relative;
		z-index: 3;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		color: $col1;
	}

	&__phone {
		display: block;
		font-weight: 700;
		font-size: 16px;
		color: $col1;
		@media (max-width: $md3+px) {
			font-size: 18px;
			margin: 0px 0px 20px 0px;
		}
	}
}
.menu {

	&__body {
		@media (max-width: $md3+px) {
			transform: translate(0, -100%);
			transition: all 0.3s ease 0s;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 2;
			overflow: auto;
			padding: 80px 10px 15px 15px;
			background-color: $col1;
			&._active {
				transform: none;
			}
			&:before {
				content: "";
				height: 50px;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				background-color: #fff;
				z-index: 3;
			} 
		}
	}

	&__list {
		@media (min-width: $md3+px) {
			display: flex;
		}
		li {
			margin: 0px 35px 0px 0px;
			&:last-child {
				margin: 0;
			}
			@media (max-width: $md3+px) {
				margin: 0px 0px 22px 0px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	&__link {
		font-size: 16px;
		font-weight: 700;
		@media (max-width: $md3+px) {
			color: $backcol;
			font-size: 20px;
		}
		@media (min-width: $md2+px) {
			&:hover {
				color: $col2;
			}
		}
	}
}



.bottom-header {
	@media (min-width: $md3+px) {
		background-color: #fff;
		&__container {
			height: 40px;
			display: flex;
			align-items: center;
		}
	}
	&__menu {

	}
}






.icon-menu {
	position: relative;
	z-index: 3;
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		span {
			transition: all 0.3s ease 0s;
			position: absolute;
			left: 0px;
			top: calc(50% - 1px);
			width: 100%;
			height: 2px;
			background-color: $col2;
		}
		span:first-child {
			top: 0px;
		}
		span:last-child {
			top: auto;
			bottom: 0px;
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}